venv/
ENV/
env/
.venv/
.ENV/

.DS_Store
Thumbs.db

.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

.coverage
*.cover
*.pytest_cache/
.tox/

*.whl

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt
